*{
    margin:0px;
    padding:0px;
    text-align: center;

}

h1{
    background-color: #081b31;
    color:white;
    height:4rem;
    line-height: 4rem;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-choices , .Comp-choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 3rem;
}

.c-choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}

img {
    height:150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.scoreBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
    gap:5rem;
    
}

#userScore,#ComputerScore{
    font-size: 4rem;
}

.msg-Container{
    margin-top: 3rem;
}

#msg {
    background-color: #081b31;
    color:#ffffff;
    font-size: 2rem;
    display: inline;    
    padding:1rem;
    border-radius: 1rem;
}

#heading{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height:3rem;
    background-color: #ff0000;

}

.score{
    display:flexbox;
    align-items: center;
    justify-content: center;
    height:200px;
    width:500px;
   
}
